<h1>All Articles</h1>

<div class="collection">
  <% @articles.each do |article| %>
    <div class="collection-item">
      <%= link_to article.title, article_path(article) %>
      <%= "views (#{article.views})" %>
    </div>
  <% end %>
</div>

<% if logged_in? %>
  <%= link_to "Create a New Article", new_article_path, class: "new_article" %>
<% end %>
